.hero {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 40px;

    &__text {

        .in {
            color: $bg-dark;
            font-size: 52px;
            font-weight: 600;
            max-width: 600px;
        }

        .up {
            color: $bg-grey;
            font-size: 16px;
            font-weight: 400;
            margin-top: 40px;
            max-width: 550px;
        }

        .on {
            color: $bg-dark;
            font-size: 16px;
            font-weight: 700;
            margin-top: 40px;
        }

        .yellow {
            border: 3px solid #FFCE50;
            width: 104px;
            margin-top: 10px;
        }
    }
}