.service {
    margin-top: 67px;

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 169px;
        border: 1px solid #D7D7DD;
        border-radius: 20px;
        min-height: 340px;
        box-shadow: #ddd 5px 5px 5px 5px;

        .service__card {
            margin-top: 40px;

            img {

                &:hover {
                    transform: scale(1.1);
                }
            }

            .dolor {
                color: $bg-dark;
                font-size: $size;
                font-weight: 600;
                max-width: 240px;
                margin-top: 24px;
            }

            .do {
                color: $bg-grey;
                font-size: 16px;
                font-weight: 400;
                max-width: 240px;
                margin-top: 16px;
            }
        }
    }
}